:root{
    --primary:#1888ff;
}

.bta{
    padding: 6px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
}

.bta